---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -fuchsia-*,
  -llvmlibc-*,
  -altera-*,
  -readability-implicit-bool-conversion,
  -llvm-header-guard,
  -modernize-use-nodiscard,
  -modernize-use-using,
  -cppcoreguidelines-pro-type-member-init,
  -hicpp-member-init,
  -clang-diagnostic-sign-compare,
  -modernize-use-trailing-return-type,
  -google-runtime-int,
  -cppcoreguidelines-owning-memory,
  -google-runtime-references,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-number,
  -readability-magic-numbers,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -hicpp-exception-baseclass,
  -readability-identifier-length,
  -llvm-include-order,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg
WarningsAsErrors: true
HeaderFilterRegex: 'fts/'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: '1'
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 'true'
  - key:   hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 'true'
...
