---
Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -fuchsia-*,
  -llvmlibc-*,
  -llvm-header-guard,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-owning-memory,
  -google-runtime-references,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-avoid-magic-number,
  -readability-magic-numbers,
  -bugprone-exception-escape,
  -readability-identifier-length,
  -llvm-include-order
WarningsAsErrors: true
HeaderFilterRegex: 'fts/'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: '1'
...
